<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="ConnectionString" value="Provider=SQLOLEDB;server=DESKTOP-J7KU2KB;database=BanQuanAo;integrated security=sspi;charset=utf8"/>
  </appSettings>


  
  
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <authentication mode="Windows"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>